/* Basket section*/

.basket {
  min-height: 100vh;
  min-width: 100vw;
}
.total-container {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.top-basket-container {
  height: 27vh;
  width: 100%;
}
.bottom-basket-container {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-basket-container h2 {
  font-size: 40px;
}
.basket-item-container {
  margin-top: 40px;
  width: 80vw;
  
  display: flex;
  flex-wrap: wrap;
  
  gap: 58.5px;
  position: relative;
}
.basket-item {
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.basket-item img {
  width: 100%;
  max-height: 60%;
  margin-bottom: 10px;
}
.basket-item a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bolder;
}
.basket-item-price {
  padding-bottom: 10px;
  padding-top: 10px;
  color: grey;
}
.quantity-container {
  width: 80px;
  border: 2px solid #1f1f1f;
  display: flex;
}
.quantity-container button {
  background: none;
  cursor: pointer;
  height: 20px;
  width: 25px;
  border: none;
  border-right: 2px solid #1f1f1f;
}
.quantity-container span {
  width: 30px;
  text-align: center;
}
.quantity-container button:nth-child(3) {
  border-right: none;
  border-left: 2px solid #1f1f1f;
}
.basket-delete {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background: none;
}
.basket-delete:hover {
  text-decoration: underline;
}

.total-amount-container {
  position: relative;
  bottom: 0;
  height: 100px;
  width: 90%;
  background: white;
  border-top: 1px solid #1f1f1f;
  margin-top: auto;
  
}

.top-amount-container  {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total {
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .top-basket-container {
    height: 200px;
  }
  .bottom-basket-container h2 {
    font-size: 25px;
  }
  .basket-item-container {
    gap: 0px;
    justify-content: center;
  }
  .basket-item {
    border-top: 1px solid grey;
  }
  .basket-item:nth-child(1) {
    border-top: none;
  }
  .basket-delete {
    padding-bottom: 5px;
  }
  .total-amount-container {
    height: 50px;
  }
}