/* Footer */

footer {
  display: flex;
  
  height: 50px;
  background: #1f1f1f;
  width: 100%;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: grey;
}
footer h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 15px;
}
footer i {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.left-footer {
  display: flex;

  align-items: flex-end;
  width: 50%;
  height: 100%;
}

.right-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}

.right-footer i {
  margin-right: 10px;
}